# .coveragerc to control coverage.py
[run]
branch = True
omit =
    **/__init__.py
    **/plotting/**
    tests/**
    setup.py


[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Ignore testing of numpy version
    def check_numpy_version
    raise ImportError
